# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
out/
*.ipr
# User-specific files
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf/

# IntelliJ modules and caches
.idea/modules.xml
.idea/.name
.idea/assetWizardSettings.xml
.idea/caches/
.idea/libraries/
.idea/compiler.xml
.idea/jarRepositories.xml

# =========================
# Maven / Gradle
# =========================
target/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle/
.gradle-cache/
**/build/

# =========================
# Spring Boot specific
# =========================
# Logs
*.log
logs/
*.out

# Environment and configuration
application-*.yml
application-*.yaml
application-*.properties
.env
*.env
*.config

# =========================
# Java
# =========================
*.class
hs_err_pid*
replay_pid*
*.hprof

# =========================
# Package Archives
# =========================
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo

# =========================
# Others
# =========================
.mtj.tmp/
!src/main/resources/
!src/test/resources/
